*, *:before, *:after {
	margin: 0;
	padding: 0;
  }
  after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
 body {
	 margin: 0 auto;
	font-family: 'Arimo', 'Open Sans', sans-serif;
	font-family: 'Oswald', 'Open Sans', sans-serif;
	/*font-family: 'Asul', 'Open Sans', sans-serif;*/
	font-family: 'Open Sans', sans-serif;
	font-size: 1rem;
	line-height: 1.6;
	background-color: #fff;
	color: rgb(34 34 34);
 }
img {
	max-width: 100%;
	display: block;
}
.bg-red {
	background-color: rgb(182, 8, 8);
}
.light-bg {
    background: #e2dddd;
}
.title {
    font-family: 'Oswald', sans-serif;
}
.light-bg  {
	background-color: #dee2e6;
}
.white {
	color: #fff;
}
.blue {
	color:#263b81;
}
.bg-blue {
    background-color: #263b81;
}
.red{
	color:rgb(182, 8, 8)
}
.green {
	color: rgb(1, 131, 1);
}
.grey-bg {
	background-color: #ced3d5;
}
ul.square {
	list-style-type: square;
}
.list-box {
	padding: 10px 0;
}
.cursor-pointer{
	cursor: crosshair;
}
.xs-pad-30 {
	padding: 30px;
}
.ptb-40 { 
	padding-top: 40px;
	padding-bottom: 40px;
}
.p-lr{
	padding-left: 2rem;
	padding-right: 2rem;
}
.pad-20 {
	padding: 20px;	
}

.btn:hover .nav-link {
	padding-left: 3px;
	color: #1f3072;
	font-size: 12px;
}
/* navbar********/
.navbar .nav-link {
	padding-left: 3px;
	color: #1f3072;
	font-size: 12px;
}
.navbar .nav-link a:hover{
	font-weight: bold;
}
#section-wrapper{
	padding-top: 140px;
}
/*
.reduce-img-size {
	max-width: 14rem;
}
.m-lr40 {
	margin-right:40px;
	margin-left: 40px;
}
.mtop {
	margin-top: 44%;
}
.m-t20 {
	margin-top: 20px;
}

a {
	color:rgb(207, 202, 202);
}
a:hover{
	color: rgb(52, 68, 112);
	font-weight: 700;
}
* {
    border-color: #e1e1e1;
    border-style: solid;
    border-width: 0;
}*/
.home-img {
	display: block;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}
.title {
	text-transform: uppercase;
}
.left-box {
    float: left;
    clear: both;
    margin: 10px 16px;
    padding: 0;
}
.right-box {
	float: right;
	clear: both;
	margin: 10px 16px;
    padding: 0;
}

#mmcTab .title .nav-link .active {
	color: #fff;
}
#mmcTab .title {
	color: #1f3072;
}
.schedule-maintenance {
	background-color:rgb(182, 8, 8);
	padding: 10px 0px;
	text-align: center;
}
.schedule-maintenance a {
	color: #fff;
	font-size: 1rem;
}

.page-section {
	display: block;
	position: relative;
	overflow-x:hidden;
	padding-bottom: 40px;	
} 
.section-title {
  border-bottom-width: 0px;
  text-align: center;
  margin-bottom: 17px;
  position: relative;
}
.section-title h1{
	text-transform:uppercase;
	text-align:center;
	color: rgb(182,8,8);
    font-weight: normal;
    margin: 0 0 12px;
    padding: 14px 0;
}
.section-title h2 {
    text-transform: uppercase;
    text-align: center;
	padding: 10px 0;
}
.column {
	float: left;
	width: 50%;
	padding: 10px;
	height: auto;
}
.row:after {
	content: "";
	display: table;
	clear: both;
}
/*img- { 
	width: 100%;
	max-width: 100%;
	height: auto;
}*/
.wrapper {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 6px;
	grid-auto-rows: minmax(70px, auto);
  }
  .one {
	grid-column: 1 / 2;
	grid-row: 1;
  }
  .two {
	grid-column: 2 / 3;
	grid-row: 1;
  }
  .three {
	grid-column: 3;
	grid-row: 1;
  }
  .four {
	grid-column: 1;
	grid-row: 2;
  }
  .five {
	grid-column: 2;
	grid-row: 2;
  }
  .six {
	grid-column: 3;
	grid-row: 2;
  }
  .seven {
	  grid-column: 1;
	  grid-row: 3;
  }
  .eight {
	grid-column: 2;
	grid-row: 3;
}
.nine {
	grid-column: 3;
	grid-row: 3;
}
.ten {
	grid-column: 1;
	grid-row: 4;
}
.eleven {
	grid-column: 2;
	grid-row: 4;
}
.twelve {
	grid-column: 3;
	grid-row: 4;
}
.thirteen {
	grid-column: 1;
	grid-row: 5;
}
.fourteen {
	grid-column: 2;
	grid-row: 5;
}
.fifteen {
	grid-column: 3;
	grid-row: 5;
}
.sixteen {
	grid-column: 1;
	grid-row: 6;
}
.seventeen {
	grid-column: 2;
	grid-row: 6;
}
.eighteen {
	grid-column: 3;
	grid-row: 6;
}
.nineteen {
	grid-column: 1;
	grid-row: 7;
}
.twenty {
	grid-column: 2;
	grid-row: 7;
}
.twenty-one {
	grid-column: 3;
	grid-row: 7;
}
.twenty-two {
	grid-column: 1;
	grid-row: 8;
}
.twenty-three {
	grid-column: 2;
	grid-row: 8;
}
.card-body{
	padding: 1.5rem;
} 
/*****tab services ****/
.right-tabs > .nav-tabs {
    border-width: thin;
    float: right;
    margin: 0 -1px 0 0;
	display: block;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
    color: #fff;
    cursor: default;
    background-color: #cc0000;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
}
.nav-items {
	border: 1px solid #ced3d5;
	padding: 0.5rem;	
}
.nav-tabs .nav-link.active {
	color: #fff;
	background-color: #cc0000;
}
 .features-sub {
	font-family:'Open Sans', sans-serif;
	color: #1d20a1;
	text-align: center;
	padding: 0 1rem;
 }
 .link-title { 
	 font-size: 1.5rem;
	 line-height: 1.4;
	text-align: center;
 }
.bg {
	position:fixed;
	display: block;
	top: 0px;
	left: 0px;
	width:100%;
	height:100%;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover; 
 }	
.valign {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.btn { 
	color: #fff;
}
.left {
    float: left;
}
.right {
    float: right;
} 
.btn-success a:active { 
	color: white;
}
.section, img, .btn:hover  {
	-webkit-transition: all 350ms ease-in-out 0s;
	transition: all 350ms ease-in-out 0s;
}
.products-card {
    border: 2px solid #bababa;
    box-shadow: 3px 3px 2px #2f4f4fbf;
	margin: 2px auto;
}
.products-card-text {
    padding: 7px 3px;
    background-color: #1f3072;
    text-align: center;
    color: white;
}
hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 5px solid rgb(38 59 129);
}
a {
	color:rgb(169, 171, 187);
}
/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) { 
	.navbar-nav .nav-link {
		font-size: 18px;
		padding-left: 8px;
		}	
}
/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) { 
	.navbar-nav .nav-link {
		font-size: 22px;
		padding-left: 12px;
		}
	.navbar-brand img{
		width: 150px;
		padding-left: 20px;
		padding-right: 20px;
	}
}
