@{
    ViewBag.Title = "Midtown Mechanical Corporation - Job Opportunities";
}


<section id="about-us" class="page-section">
    <div class="container">
        <div class="section-title">
            <h1 class="title">Midtown Mechanical Corporation</h1>
            <h3 class="title">Job Opportunities</h3>
        </div>
        <div class="row">
            <div class="col-md-6 bottom-xs-pad-20" data-animation="fadeInLeft">
                <ul class="features-list features-list-left">
                    <li class="features-list-item">
                        <div class="features-content">
                            <h4 class="text-center red">HVAC Services</h4>
                            <p>
                                Midtown Mechanical Corporation (MMC) is a Chicagoland based, full-service mechanical contractor specializing in residential, industrial and commercial HVAC, energy-efficient air conditioners, furnaces, climate control humidifiers, learning thermostat installation, boilers, custom sheet metal work and ductwork for Chicago and the surrounding areas.
                            </p>
                            <p>
                                Tom Walker, owner of Midtown Mechanical Corporation and his loyal team have been responsively servicing our customer's "Total Indoor Air Comfort" &mdash; since 1994.
                            </p>
                            <p>Our trusting relationship and positive reputation with our customers has lead us to grow, and open HVAC job opportunities for service technicians, either experienced or looking for a career in HVAC. <a href="#jobs" class="red">Contact us through our MMC Job Form.</a>  </p>
                         </div>
                    </li>
                    <li class="features-list-item">
                        <div class="features-content">
                            <h4 class="text-center red">HVAC Sheet Metal Fabrication</h4>
                            <p>
                                Metal fabrication is the building of metal structures by cutting, bending, and assembling processes. It is a value added process that involves the construction of machines and structures from various raw materials.  </p>
<p>We have job openings for experienced sheet metal fabricators. <a href="#jobs" class="red">Contact us through our MMC Job Form.</a></p>
                         </div>
                    </li>
                </ul>
            </div>
            <div id="jobs" class="col-md-6 text-center" data-animation="fadeInUp">
                <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSeUK4t2SDh0FyQIM8ncjSOnpGX7xBXRU4Calo78mdlQC7xOxw/viewform?embedded=true" width="100%" height="1700" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe> </div>

        </div>
    </div>
</section>
        <section id="contact" class="page-section bg-blue white">
            <div class="container">
                <div class="row">
                    <div class="section-title">
                        <h2 class="title">Midtown Mechanical Corporation</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-6 bottom-xs-pad-20">
                        <h6>
                            Tom Walker, owner<br />
                            <a href="tel:7737228145">
                                <i class="fa fa-phone"></i> 773-722-8145
                            </a>
                            <br /><i class="fa fa-fax"></i> 7737228146<br />
                            <a class="lower" href="mailto:mmc4533@gmail.com">
                                <i class="fa fa-envelope"></i> mmc4533@gmail.com
                            </a>
                        </h6>
                        <h6>
                            Office Location:<br />
                            4533 West Lexington,
                            Chicago, Illinois 60624
                        </h6>
                        <div class="margin-20 text-center">
                            <img src="~/img/4533lex2.jpg" alt="MMC office facing Congress Expressway" width="300" />
                        </div>
                        <br />
                        <p>Midtown Mechanical is a full-service mechanical contractor specializing in heating, ventilation, air conditioning, industrial piping and service. We service commercial, industrial, and residential   new development and service maintenance for both residential and   commercial buildings.</p>
                        <p>
                            Our goal is to develop and sustain long-term customer relationships with our experienced and knowledgeable employees,   using safe work practices and the most up-to-date technologies.
                        </p>
                       
                    </div>
                    <div class="col-xs-12 col-sm-6 bottom-xs-pad-20">
                        <p class="title-description">
                            MMC send a Spring and Fall HVAC Maintenance email reminder, upon receiving your submitted form.
                            Thank you for contacting us.
                        </p>
                        <div claass="img-responsive">
                            <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSf61wv6m2sLm8dQULgxNS4f60a6QCf6AEUwj2I1dej-TqVDyQ/viewform?embedded=true" width="100%" height="1100" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
                        </div>
                    </div>
                </div>
            </div>
        </section>
