@{
    ViewBag.Title = "Midtown Mechanical Corporation - Job Opportunities";
}


<section id="careers" class="page-section">
    <div class="container">
        <div class="section-title">
            <h1 class="title">Midtown Mechanical Corporation</h1>
            <h3 class="title">Job Opportunities</h3>
        </div>
        <div class="row">
            <div class="col-md-6 bottom-xs-pad-20" data-animation="fadeInLeft">
                <ul class="features-list features-list-left">
                    <li class="features-list-item">
                        <div class="features-content">
                            <h4 class="text-center red">HVAC Services</h4>
                            <p>
                                Midtown Mechanical Corporation (MMC) is a Chicagoland based, full-service mechanical contractor specializing in residential, industrial and commercial HVAC, energy-efficient air conditioners, furnaces, climate control humidifiers, learning thermostat installation, boilers, custom sheet metal work and ductwork for Chicago and the surrounding areas.
                            </p>
                            <p>
                                Tom Walker, owner of Midtown Mechanical Corporation and his loyal team have been responsively servicing our customer's "Total Indoor Air Comfort" &mdash; since 1994.
                            </p>
                            <p>Our trusting relationship and positive reputation with our customers has lead us to grow, and open HVAC job opportunities for service technicians, either experienced or looking for a career in HVAC.<br /> <a href="#jobs" class="red">Contact us through our MMC Job Form.</a>  </p>
                         </div>
                    </li>
                    <li class="features-list-item">
                        <div class="features-content">
                            <h4 class="text-center red">HVAC Sheet Metal Fabrication</h4>
                            <p>
                                Metal fabrication is the building of metal structures by cutting, bending, and assembling processes. It is a value added process that involves the construction of machines and structures from various raw materials.  </p>
<p>We have job openings for experienced sheet metal fabricators.<br /> <a href="#jobs" class="red">Contact us through our MMC Job Form.</a></p>
                         </div>
                    </li>
                </ul>
            </div>
            <div id="jobs" class="col-md-6 text-center" data-animation="fadeInUp">
                <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSeUK4t2SDh0FyQIM8ncjSOnpGX7xBXRU4Calo78mdlQC7xOxw/viewform?embedded=true" width="100%" height="800" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe> </div>

        </div>
    </div>
</section>
