@{
    ViewBag.Title = "Midtown Mechanical Corporation";
}

<section id="about-us" class="page-section">
    <div class="container">
        <div class="section-title">
            <h1 class="title">Midtown Mechanical Corporation</h1>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">    
                <p class="title-description">Midtown Mechanical Corporation is a full-service mechanical contractor specializing in residential and commercial HVAC, energy-efficient air conditioners, furnaces, climate control humidifiers, thermostat installation, boilers, custom sheet metal work and ductwork for Chicago and the surrounding areas.
                <br />Tom Walker, president and owner of Midtown Mechanical Corporation (MMC) and his loyal team are professionally responsible for our customer&#39;s <b>&quot;Total Indoor Air Comfort&quot;</b>, since 1994. 
                </p>
            </div>
        </div>
        <div class="row special-feature">
            <div class="col-md-3">
                <div class="s-feature-box text-center">
                    <div class="mask-top">
                        <h4>Heating</h4>
                        <img src="~/img/carrierfurnace.jpg" />
                    </div>
                    <div class="mask-bottom">
                        <h4  class="white">Heating</h4>
                        <p  class="white">Furnace considerations. Operating at Peak Performance. Energy Efficient. Save on heating expense.</p>
                    </div>
                </div>
            </div>
            <!-- Special Feature Box 2 -->
            <a href="#page">
                <div class="col-md-3">
                    <div class="s-feature-box text-center">
                        <div class="mask-top">
                            <h4>Cooling</h4>
                            <img src="~/img/carrierairconditioner.jpg" />
                        </div>
                        <div class="mask-bottom">
                            <h4 class="white">Cooling</h4>
                            <p class="white">Install and Service the most efficient and effective Air Conditioner product for your living space.</p>
                        </div>
                    </div>
                </div>
            </a>
            <!-- Special Feature Box 3 -->
            <div class="col-md-3">
                <div class="s-feature-box text-center">
                    <div class="mask-top">
                        <h4>Air Comfort</h4>
                        <img src="~/img/aprilairehumidifier_mod700.jpg" />
                    </div>
                    <div class="mask-bottom">
                        <h4 class="white" >Air Comfort</h4>
                        <p class="white">Humidifiers. Controllers. Dehumidifiers. </p>
                    </div>
                </div>
            </div>
            <!-- Special Feature Box 3 -->
            <div class="col-md-3">
                <div class="s-feature-box text-center">
                    <div class="mask-top">
                        <h4>Service</h4>
                        <img src="~/img/4533Lex2.jpg" />
                    </div>
                    <div class="mask-bottom">
                        <h4 class="white">Service</h4>
                        <p class="white">Contract Free Maintenance - twice a year. Installation. Extend the life of your system.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>