@{
    ViewBag.Title = "Midtown Mechanical Corporation";
}

<section id="about-us" class="page-section">
    <div class="container">
        <div class="section-title">
            <h1 class="title">Midtown Mechanical Corporation</h1>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <p class="title-description">
                    Midtown Mechanical Corporation is a full-service mechanical contractor specializing in residential and commercial HVAC, energy-efficient air conditioners, furnaces, climate control humidifiers, thermostat installation, boilers, custom sheet metal work and ductwork for Chicago and the surrounding areas.
                    <br />Tom Walker, president and owner of Midtown Mechanical Corporation (MMC) and his loyal team are professionally responsible for our customer&#39;s <b>&quot;Total Indoor Air Comfort&quot;</b>, since 1994.
                </p>
            </div>
        </div>
        <div class="row special-feature">
            <div class="col-md-3">
                <div class="s-feature-box text-center">
                    <div class="mask-top">
                        <h4>Heating</h4>
                        <img src="~/img/carrierfurnace.jpg" />
                    </div>
                    <div class="mask-bottom">
                        <h4 class="white">Heating</h4>
                        <p class="white">Furnace considerations. Operating at Peak Performance. Energy Efficient. Save on heating expense.</p>
                    </div>
                </div>
            </div>
            <!-- Special Feature Box 2 -->
            <a href="#page">
                <div class="col-md-3">
                    <div class="s-feature-box text-center">
                        <div class="mask-top">
                            <h4>Cooling</h4>
                            <img src="~/img/carrierairconditioner.jpg" />
                        </div>
                        <div class="mask-bottom">
                            <h4 class="white">Cooling</h4>
                            <p class="white">Install and Service the most efficient and effective Air Conditioner product for your living space.</p>
                        </div>
                    </div>
                </div>
            </a>
            <!-- Special Feature Box 3 -->
            <div class="col-md-3">
                <div class="s-feature-box text-center">
                    <div class="mask-top">
                        <h4>Air Comfort</h4>
                        <img src="~/img/aprilairehumidifier_mod700.jpg" />
                    </div>
                    <div class="mask-bottom">
                        <h4 class="white">Air Comfort</h4>
                        <p class="white">Humidifiers. Controllers. Dehumidifiers. </p>
                    </div>
                </div>
            </div>
            <!-- Special Feature Box 3 -->
            <div class="col-md-3">
                <div class="s-feature-box text-center">
                    <div class="mask-top">
                        <h4>Service</h4>
                        <img src="~/img/4533Lex2.jpg" />
                    </div>
                    <div class="mask-bottom">
                        <h4 class="white">Service</h4>
                        <p class="white">Contract Free Maintenance - twice a year. Installation. Extend the life of your system.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<section id="tabs" class="page-section">
    <div class="container">
        <h4>Cooling</h4>
        <div class="row">
            <div class="col-md-12">
                <div role="tabpanel" class="right-tabs">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active">
                            <a href="#cooling-home" aria-controls="home" role="tab" data-toggle="tab">
                                <i class="fa fa-home"></i> Home
                            </a>
                        </li>
                        <li role="presentation">
                            <a href="#profile3" aria-controls="profile" role="tab" data-toggle="tab">
                                <i class="fa fa-user"></i> Profile
                            </a>
                        </li>
                        <li role="presentation">
                            <a href="#messages3" aria-controls="messages" role="tab" data-toggle="tab">
                                <i class="fa fa-comment"></i> Messages
                            </a>
                        </li>
                        <li role="presentation">
                            <a href="#settings3" aria-controls="settings" role="tab" data-toggle="tab">
                                <i class="fa fa-cogs"></i> Settings
                            </a>
                        </li>
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="home">
                            <h5>Cooling</h5>
                            <h3 class="green">Stay Cool in Summer! No sweat! Get right-sized!</h3>
                            <p>
                                Chicago’s summer months can be <span style="color:red">HOT</span>! Most residents have their air conditioners running on a continual basis whether they are at home
                                or in the office, in order to enjoy a comfortable living and working environment.
                                Use this SAVINGS CALCULATOR TO see if your air conditioner is the most efficient and effective product for your living space.
                            </p> 
                            <a href="Savecalc.aspx" target="_blank"><img src="http://virtualhvac.com/img/badges/carrier_badge.jpg" alt="savings calculator" class="right" /></a>
                            <p>See what you can do yourself to insure that your air conditioner won't fail on the hottest of days. Follow some simply Spring Maintenance Tips for your Air Conditioner. <a href="Acspring.aspx" class="read">Learn more&nbsp;&nbsp;&nbsp;&nbsp; </a></p>
                            <h3 class="green">Start in Spring! </h3>
                            <p>Contact Midtown Mechanical to Request an Appointment to come to your residence or work location and run a thorough maintenance check on your A/C equipment. Call us at 773.722.8145 or request an appointment using our online form.  <a href="Maintenance.aspx" class="read">Learn more&nbsp;&nbsp;&nbsp;&nbsp; </a></p>
                            <p>
                                Midtown Mechanical will service all of your air conditioning needs whether installing a new system, maintaining
                                your current system or repairing most major brands of your existing air conditioner. We can provide you with a quality
                                and durable air conditioning unit that will give you the cooling relief that you need from the vicious Chicago heat.
                            </p>
                            <h3> Enjoy the summer months, indoor and out!
                                <img src="~/img/sunWalker02.jpg" alt="spring and Summer airconditioner tuneup" width="221" height="300" />
                            </h3>
                        </div>


                        <div role="tabpanel" class="tab-pane" id="profile3">
                            <h5>Profile</h5>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae odit iste exercitationem praesentium deleniti nostrum laborum rem id nihil tempora. Adipisci ea commodi unde nam placeat cupiditate quasi a ducimus rem consequuntur ex eligendi minima voluptatem assumenda voluptas quidem sit maiores odio velit voluptate. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae odit iste exercitationem praesentium deleniti nostrum laborum rem id nihil tempora. Adipisci ea commodi unde nam placeat cupiditate quasi a ducimus rem consequuntur ex eligendi minima voluptatem assumenda voluptas quidem sit maiores odio velit voluptate.
                        </div>
                        <div role="tabpanel" class="tab-pane" id="messages3">
                            <h5>Message</h5>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae odit iste exercitationem praesentium deleniti nostrum laborum rem id nihil tempora. Adipisci ea commodi unde nam placeat cupiditate quasi a ducimus rem consequuntur ex eligendi minima voluptatem assumenda voluptas quidem sit maiores odio velit voluptate. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae odit iste exercitationem praesentium deleniti nostrum laborum rem id nihil tempora. Adipisci ea commodi unde nam placeat cupiditate quasi a ducimus rem consequuntur ex eligendi minima voluptatem assumenda voluptas quidem sit maiores odio velit voluptate.
                        </div>
                        <div role="tabpanel" class="tab-pane" id="settings3">
                            <h5>Settings</h5>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae odit iste exercitationem praesentium deleniti nostrum laborum rem id nihil tempora. Adipisci ea commodi unde nam placeat cupiditate quasi a ducimus rem consequuntur ex eligendi minima voluptatem assumenda voluptas quidem sit maiores odio velit voluptate. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae odit iste exercitationem praesentium deleniti nostrum laborum rem id nihil tempora. Adipisci ea commodi unde nam placeat cupiditate quasi a ducimus rem consequuntur ex eligendi minima voluptatem assumenda voluptas quidem sit maiores odio velit voluptate.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>