@{
    ViewBag.Title = "Midtown Mechanical Corporation";
}

<section id="about-us" class="page-section">
    <div class="container">
        <div class="section-title">
            <h1 class="title">Midtown Mechanical Corporation</h1>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <p class="title-description">
                    Midtown Mechanical Corporation is a full-service mechanical contractor specializing in residential and commercial HVAC, energy-efficient air conditioners, furnaces, climate control humidifiers, thermostat installation, boilers, custom sheet metal work and ductwork for Chicago and the surrounding areas.
                    <br />Tom Walker, president and owner of Midtown Mechanical Corporation (MMC) and his loyal team are professionally responsible for our customer&#39;s <b>&quot;Total Indoor Air Comfort&quot;</b>, since 1994.
                </p>
            </div>
        </div>
        <div class="row special-feature">
            <div class="col-md-3">
                <div class="s-feature-box text-center">
                    <div class="mask-top">
                        <h4>Heating</h4>
                        <img src="~/img/feature-3.jpg" />
                    </div>
                    <div class="mask-bottom">
                        <h4 class="white">Heating</h4>
                        <p class="white">Furnace considerations. Operating at Peak Performance. Energy Efficient. Save on heating expense.</p>
                    </div>
                </div>
            </div>
            <!-- Special Feature Box 2 -->
            <a href="#page">
                <div class="col-md-3">
                    <div class="s-feature-box text-center">
                        <div class="mask-top">
                            <h4>Cooling</h4>
                            <img src="~/img/carrierairconditioner.jpg" />
                        </div>
                        <div class="mask-bottom">
                            <h4 class="white">Cooling</h4>
                            <p class="white">Install and Service the most efficient and effective Air Conditioner product for your living space.</p>
                        </div>
                    </div>
                </div>
            </a>
            <!-- Special Feature Box 3 -->
            <div class="col-md-3">
                <div class="s-feature-box text-center">
                    <div class="mask-top">
                        <h4>Air Comfort</h4>
                        <img src="~/img/aprilairehumidifier_mod700.jpg" />
                    </div>
                    <div class="mask-bottom">
                        <h4 class="white">Air Comfort</h4>
                        <p class="white">Humidifiers. Controllers. Dehumidifiers. </p>
                    </div>
                </div>
            </div>
            <!-- Special Feature Box 3 -->
            <div class="col-md-3">
                <div class="s-feature-box text-center">
                    <div class="mask-top">
                        <h4>Service</h4>
                        <img src="~/img/hvac3.jpg" />
                    </div>
                    <div class="mask-bottom">
                        <h4 class="white">Service</h4>
                        <p class="white">Contract Free Maintenance - twice a year. Installation. Extend the life of your system.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



    <section id="tabs" class="page-section">
        <div class="container" id="cooling">
            <h1>Air Conditioning</h1>
            <div class="row">
                <div class="col-md-12">
                    <div role="tabpanel" class="right-tabs">
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active">
                                <a href="#cooling-home" aria-controls="cool-home" role="tab" data-toggle="tab">
                                    <h5>Cooling</h5>
                                </a>
                            </li>
                            <li role="presentation">
                                <a href="#cooling-repair" aria-controls="cool-repair" role="tab" data-toggle="tab">
                                    <h5>Repair</h5>
                                </a>
                            </li>
                            <li role="presentation">
                                <a href="#cooling-maintenance" aria-controls="cool-maintenance" role="tab" data-toggle="tab">
                                    <h5>Maintenance</h5>
                                </a>
                            </li>
                            <li role="presentation">
                                <a href="#cooling-sales" aria-controls="cool-sales" role="tab" data-toggle="tab">
                                    <h5>Sales</h5>
                                </a>
                            </li>
                        </ul>
                        <hr />
                        
                        <div class="tab-content">
                            <!-- cooling-home -->  
                            <div role="tabpanel" class="tab-pane active" id="cooling-home">
                                <h2 class="green">Stay Cool in Summer! No sweat!</h2>
                                <h5>Cooling</h5>
                                <p>
                                    Chicago’s summer months can be <span class="red"><b>HOT</b></span>! Most residents have their air conditioners running on a continual basis whether they are at home
                                    or in the office, in order to enjoy a comfortable living and working environment.
                                    <a href="Savecalc.aspx" target="_blank"><img src="http://virtualhvac.com/img/badges/carrier_badge.jpg" alt="savings calculator" class="left-box" /></a> Use this SAVINGS CALCULATOR TO see if your air conditioner is the most efficient and effective product for your living space.
                                </p>
                                <p>
                                    <i>See</i> what you can do yourself to insure that your air conditioner won't fail on the hottest of days. Follow some simply Spring Maintenance Tips for your Air Conditioner.
                                </p>
                                <hr />
                                <h3 class="green">Spring Maintenance Tips for your Air Conditioner</h3>

                                <img src="~/img/thinkSpring.jpg" alt="think spring" class="left-box boxshadow" />
                                <ul>
                                    <li><img src="~/img/rightarrow.png" /> Always shut off power to your central A/C before beginning any air conditioner maintenance.</li>
                                    <li><img src="~/img/rightarrow.png" /> If you used an air conditioner cover to protect your unit during the Winter, make sure to remove it before turning the unit back on!</li>
                                    <li><img src="~/img/rightarrow.png" /> Check your refrigerant levels by feeling the pipe connected to your A/C unit. If it doesn't feel cool-ish (around 60 degrees), you may be low on refrigerant.</li>
                                    <li><img src="~/img/rightarrow.png" /> Don't forget to replace dirty A/C filters! They put more strain on your A/C unit than clean filters and increase your energy consumption.</li>
                                    <li><img src="~/img/rightarrow.png" /> Clean your air conditioner's ceiling registers. While this task doesn't affect your A/C unit directly, it does help ensure all its hard work doesn't go to waste.</li>
                                    <li><img src="~/img/rightarrow.png" /> Have a professional clean your evaporator coil every couple years to prevent debris build-up. Other than routine air conditioner cleaning, a professional A/C contractor should be involved with all major A/C maintenance work to prevent damage or problems during repairs.</li>
                                    <li><img src="~/img/rightarrow.png" /> Keep the area around your outdoor A/C unit free of grass, furniture, and debris that could interfere with its performance. If any grass or weeds have grown inside or around the unit, be sure to completely remove them.</li>
                                    <li><img src="~/img/rightarrow.png" /> If the concrete slab on which your outdoor A/C unit sits isn't level (use a carpenter's level to find out), add rocks, gravel, or dirt underneath to level it out to ensure your A/C runs as efficiently as possible</li>
                                </ul>
                            </div>

                            <!-- cooling-sales -->
                            <div role="tabpanel" class="tab-pane" id="cooling-repair">
                            </div>

                            <!-----cooling maintenance-->
                            <div role="tabpanel" class="tab-pane" id="cooling-maintenance">
                                <h3 class="green">Start in Spring! Enjoy your Summer. Indoor and out!</h3>
                                <h5>Maintenance</h5>
                                <p>
                                    <img src="~/img/mmc-spring-2016.jpg" alt="spring and Summer airconditioner tuneup" class="right-box" />
                                    Contact Midtown Mechanical to Request an Appointment to come to your residence or work location and run a thorough maintenance check on your A/C equipment. Call us at 773.722.8145 or request an appointment using our online
                                </p><span class="h6"> <a href="~/#contact">Contact Form.</a></span>
                                <img src="~/img/rightarrow.png" />
                                <p>
                                    Midtown Mechanical will service all of your air conditioning needs whether installing a new system, maintaining
                                    your current system or repairing most major brands of your existing air conditioner. We can provide you with a quality
                                    and durable air conditioning unit that will give you the cooling relief that you need from the vicious Chicago heat.
                                </p>

                            </div>

                            <!-- cooling-sales --> 
                            <div role="tabpanel" class="tab-pane" id="cooling-sales">
                                <h2 class="green">Enjoy Summer. Indoor and out. Get right-sized!</h2>
                                <h5>Sales</h5>
                                <p></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

<hr />
<section id="contact" class="page-section">
    <div class="container">
        <div class="row">
            <div class="section-title">
                <h2 class="title">Contract Free Maintenance</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4 widget bottom-xs-pad-20">
                <h6>
                    <strong>Office:</strong> <br />
                    Midtown Mechanical Corporation
                    <br />4533 West Lexington
                    <br />Chicago, Illinois
                </h6>
                <h6>
                    <strong>
                        Owner - Tom Walker<br />
                        Phone - 773.722.8145<br />
                        Fax - 773.722.8146
                    </strong>
                </h6>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 widget bottom-xs-pad-20">
                <h5>NO up-front yearly contract maintenance fees for MMC Preferred Customers</h5>
                <p class="title-description">
                    Today, home owners don't want to pay up-front money for services on heating, air-conditioning and air
                    comfort equipment installed in their home and workplace - But, they would like their
                    customer relationship with their HVAC company to contact them and remind them to schedule their
                    Seasonal Fall and Spring Maintenance appointment... Midtown Mechanical does just that!
                </p>
                <h5>You can control your indoor air.</h5>
                <h5 class="green"> Predict your $$$ savings.</h5>
                <p class="title-description">
                    Simply fill out this MMC Customer Inquiry Form. We will email a Spring/Fall HVAC Maintenance reminder.
                    It is just that easy. <br />We will handle your <em>&quot;Total Indoor Air Comfort&quot; - </em>
                    Call <a href="tel:7737228145">773.722.8145.</a>
                </p>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-4 widget bottom-xs-pad-20">
                <form id="form" action="#" method="post" name="contact_form" role="form" class="form-box">
                    <img src="~/img/mmchome.jpg" alt="MMC Service Program" class="shadow" width="306" height="120" />
                    <div class="input-text form-group">
                        <label>name</label>
                        <input class="form-control bg-white" type="text" value="" name="name" />
                        <label>email</label>
                        <input class="form-control bg-white" type="email" value="" name="email" />
                        <label>phone</label>
                        <input class="form-control bg-white" type="tel" value="" name="phone" />
                        <label>message</label>
                        <input class="form-control bg-white" type="text" value="" name="comments" />
                        <button class="submit btn btn-default bg-color white" type="submit">
                            send message
                        </button>
                    </div>
                </form>
            </div>

        </div>

    </div>
</section>
