@{
    ViewBag.Title = "Midtown Mechanical Corporation";
}


<section id="about-us" class="page-section">
    <div class="container">
        <div class="section-title">
            <h1 class="title">Midtown Mechanical Corporation</h1>
        </div>
        <div class="row">
            <div class="col-md-4" data-animation="fadeInLeft">
                <ul class="features-list features-list-left">
                    <li class="features-list-item">
                        <div class="features-content">
                            <h4 class="text-center red">HVAC Contractor</h4>
                            <p> Midtown Mechanical Corporation is a Chicagoland based, full-service mechanical contractor specializing in residential, industrial and commercial HVAC, energy-efficient air conditioners, furnaces, climate control humidifiers, thermostat installation, boilers, custom sheet metal work and ductwork for Chicago and the surrounding areas.
                            </p>
                            
                         
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-md-4 text-center" data-animation="fadeInUp">
                <img src="~/img/furnace.jpg" width="350" height="540" alt="furnace installation by MMC Midtown Mechanical Corp." />
            </div>
            <div class="col-md-4" data-animation="fadeInRight">
                <ul class="features-list features-list-right">
                    <li class="features-list-item">
                        <div class="features-content">
                            <h4 class="text-center red">Relationships</h4>
                            <p>Tom Walker, president and owner of Midtown Mechanical Corporation (MMC) and his loyal team are professionally responsible for our customer's Total Indoor Air Comfort, since 1994.
                            </p>
                            <p>We believe our success has been built upon on a foundation of a trusting relationship. MMC selects reliable heating and air conditioning equipment which, in our experience, is best fitted for each unique customer.  Our mechanical craftsmen &mdash; repair, replace, and install equipment with little interruption or inconvience to each customer. Our customers have referred their friends to us, and that relationship has helped to grow our business into the responsive HVAC company that has kept &quot;Indoor Air&quot; comfortable for Chicagoans.</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section id="#" class="page-section">
   
        <div class="row">
            <div class="col-md-12">
                
                <p>
                    To anticipate the specialized needs of our diverse customer-base   and to build an awareness towards &quot;money saving&quot; efficiency, we have   expanded and integrated our core compentencies to include custom sheet   metal and ductwork that is environmentally clean and up to the code of   future years.
                </p>
                
              <!--    <div class="left-box">
                    <h3> All About Air Conditioning</h3>
                    <p>
                        Air Conditioning Sales<br />
                        Air Conditioning Repair<br />
                        Air Conditioning Systems - Cleaning<br />
                        Air Duct Cleaning<br />
                        Air Humidifier Sales & Service
                    </p>
                    <div class="backgroundopacity">
                        <div class="transbox"><h5 style="font-size:1.1em;">Total Indoor Air Comfort<br />with<br />Midtown Mechanical</h5></div>
                    </div>
                </div>--> 

            </div>
        </div>
        <div class="row special-feature">
            <div class="col-md-3">
                <div class="s-feature-box text-center">
                    <div class="mask-top">
                        <h4>Heating</h4>
                        <img src="~/img/feature-3.jpg" />
                    </div>
                    <div class="mask-bottom">
                        <h4 class="white">Heating</h4>
                        <p class="white">Furnace considerations. Operating at Peak Performance. Energy Efficient. Save on heating expense.</p>
                    </div>
                </div>
            </div>
            <!-- Special Feature Box 2 -->
            <a href="~/#cooling">
                <div class="col-md-3">
                    <div class="s-feature-box text-center">
                        <div class="mask-top">
                            <h4>Cooling</h4>
                            <img src="~/img/carrierairconditioner.jpg" />
                        </div>
                        <div class="mask-bottom">
                            <h4 class="white">Cooling</h4>
                            <p class="white">Install and Service the most efficient and effective Air Conditioner product for your indoor space.</p>
                            <p>
                                Air Conditioning Sales<br />
                                Air Conditioning Repair<br />
                                Air Conditioning Maintenance<br />
                                Air Duct Cleaning<br />

                            </p>

                        </div>
                    </div>
                </div>
            </a>
            <!-- Special Feature Box 3 -->
            <div class="col-md-3">
                <div class="s-feature-box text-center">
                    <div class="mask-top">
                        <h4>Air Comfort</h4>
                        <img src="~/img/aprilairehumidifier_mod700.jpg" />
                    </div>
                    <div class="mask-bottom">
                        <h4 class="white">Air Comfort</h4>
                        <p class="white">Air Humidifiers. Thermostat Controllers. Dehumidifiers. WIFI Thermostats. Whole Home Dehumidifiers</p>
                    </div>
                </div>
            </div>
            <!-- Special Feature Box 3 -->
            <div class="col-md-3">
                <div class="s-feature-box text-center">
                    <div class="mask-top">
                        <h4>Service</h4>
                        <img src="~/img/hvac3.jpg" />
                    </div>
                    <div class="mask-bottom">
                        <h4 class="white">Service</h4>
                        <p class="white">Contract Free Preventative Maintenance Services- twice a year. </p>
                    </div>
                </div>
            </div>
        </div>
    
</section>
<section id="projects" class="page-section">
    <div class="image-bg content-in fixed" data-background="../img/water-chgo.jpg">
        <div class="overlay"></div>
    </div>
    <div class="container work-section">
        <div class="section-title white" data-animation="fadeInUp">
            <h2 class="title">Our Projects</h2>
        </div>
             <p>Tom Walker, owner of Midtown Mechanical, has been in business since 1994, and has over 20 years of experience building a reputation of expedientancy, trustworthiness, and competence in the HVAC industry in Chicago. MMC  has an extensive   portfolio of work ranging from renovation to new construction for   building owners and general contractors to individual home owners and   emergency HVAC service.
             </p>
        <div id="options" class="filter-menu" data-animation="fadeInUp">
            <ul class="option-set nav nav-pills">
                <li class="filter active" data-filter="all">All Projects</li>
                <li class="filter" data-filter=".commercial">Commercial</li>
                <li class="filter" data-filter=".resident">Residential</li>
                <li class="filter" data-filter=".air">Air Conditioning</li>
                <li class="filter" data-filter=".heat">Heaters</li>
                <li class="filter" data-filter=".custom">Custom</li>
            </ul>
        </div>
    </div>
    <div id="mix-container" class="portfolio-grid" data-animation="fadeInUp">        
        <div class="grids col-xs-12 col-sm-6 col-md-3 mix all commercial">
            <div class="grid scroll">
                <img src="~/img/projects/project-01.jpg" alt="Midtown Mechanical Corp. Project 1" class="img-responsive" />
                <div class="figcaption">
                    <div class="caption-block">
                        <h5>Rooftop </h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="grids col-xs-12 col-sm-6 col-md-3 mix all commercial">
            <div class="grid scroll">
                <img src="~/img/projects/project-02.jpg" alt="Midtown Mechanical Corp. Project 2" class="img-responsive" />
                <div class="figcaption">
                    <div class="caption-block">
                        <h5>Large Range A/C </h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="grids col-xs-12 col-sm-6 col-md-3 mix all custom">
            <div class="grid scroll">
                <img src="~/img/projects/project-03.jpg" alt="Midtown Mechanical Corp. Project 3" class="img-responsive" />
                <div class="figcaption">
                    <div class="caption-block">
                        <h5>Custom Cover </h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="grids col-xs-12 col-sm-6 col-md-3 mix all air">
            <div class="grid scroll">
                <img src="~/img/projects/project-04.jpg" alt="Midtown Mechanical Corp. Project 4" class="img-responsive" />
                <div class="figcaption">
                    <div class="caption-block">
                        <h5>Loft Office A/C</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="grids col-xs-12 col-sm-6 col-md-3 mix all commercial">
            <div class="grid scroll">
                <img src="~/img/projects/project-05.jpg" alt="Midtown Mechanical Corp. Project 5" class="img-responsive" />
                <div class="figcaption">
                    <div class="caption-block">
                        <h5>Commercial A/C</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="grids col-xs-12 col-sm-6 col-md-3 mix all commercial">
            <div class="grid scroll">
                <img src="~/img/projects/project-06.jpg" alt="Midtown Mechanical Corp. Project 6" class="img-responsive" />
                <div class="figcaption">
                    <div class="caption-block">
                        <h5>Milti-unit Heat</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="grids col-xs-12 col-sm-6 col-md-3 mix all air">
            <div class="grid scroll">
                <img src="~/img/projects/project-07.jpg" alt="Midtown Mechanical Corp. Project 7" class="img-responsive" />
                <div class="figcaption">
                    <div class="caption-block">
                        <h5>Protected A/C</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="grids col-xs-12 col-sm-6 col-md-3 mix all air">
            <div class="grid scroll">
                <img src="~/img/projects/project-08.jpg" alt="Midtown Mechanical Corp. Project 8" class="img-responsive" />
                <div class="figcaption">
                    <div class="caption-block">
                        <h5>Custom Placement A/C</h5>
                    </div>
                </div>
            </div>
        </div>   
        <div class="grids col-xs-12 col-sm-6 col-md-3 mix all heat">
            <div class="grid scroll">
                <img src="~/img/projects/project-09.jpg" alt="Midtown Mechanical Corp. Project 9" class="img-responsive" />
                <div class="figcaption">
                    <div class="caption-block">
                        <h5>Commercial Heat</h5>
                    </div>
                </div>
            </div>
        </div>        
        <div class="grids col-xs-12 col-sm-6 col-md-3 mix all air">
            <div class="grid scroll">
                <img src="~/img/projects/project-10.jpg" alt="Midtown Mechanical Corp. Project 10" class="img-responsive" />
                <div class="figcaption">
                    <div class="caption-block">
                        <h5>Rooftop A/C</h5>
                    </div>
                </div>
            </div>
        </div>      
        <div class="grids col-xs-12 col-sm-6 col-md-3 mix all air">
            <div class="grid scroll">
                <img src="~/img/projects/project-12.jpg" alt="Midtown Mechanical Corp. Project 12" class="img-responsive" />
                <div class="figcaption">
                    <div class="caption-block">
                        <h5>Custom Placement A/C</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="grids col-xs-12 col-sm-6 col-md-3 mix all custom">
            <div class="grid scroll">
                <img src="~/img/projects/project-13.jpg" alt="Midtown Mechanical Corp. Project 13" class="img-responsive" />
                <div class="figcaption">
                    <div class="caption-block">
                        <h5>Custom - Tennis Club</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="grids col-xs-12 col-sm-6 col-md-3 mix all heat">
            <div class="grid scroll">
                <img src="~/img/projects/project-14.jpg" alt="Midtown Mechanical Corp. Project 14" class="img-responsive" />
                <div class="figcaption">
                    <div class="caption-block">
                        <h5>Restaurant - Heat</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="grids col-xs-12 col-sm-6 col-md-3 mix all commercial">
            <div class="grid scroll">
                <img src="~/img/projects/project-15.jpg" alt="Midtown Mechanical Corp. Project 15" class="img-responsive" />
                <div class="figcaption">
                    <div class="caption-block">
                        <h5>Commercial Rooftop</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="grids col-xs-12 col-sm-6 col-md-3 mix all commercial">
            <div class="grid scroll">
                <img src="~/img/projects/project-16.jpg" alt="Midtown Mechanical Corp. Project 16" class="img-responsive" />
                <div class="figcaption">
                    <div class="caption-block">
                        <h5>Commercial Scale</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="grids col-xs-12 col-sm-6 col-md-3 mix all commercial">
            <div class="grid scroll">
                <img src="~/img/projects/project-17.jpg" alt="Midtown Mechanical Corp. Project 17" class="img-responsive" />
                <div class="figcaption">
                    <div class="caption-block">
                        <h5>Chicago Haul</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="grids col-xs-12 col-sm-6 col-md-3 mix all commercial">
            <div class="grid scroll">
                <img src="~/img/projects/project-18.jpg" alt="Midtown Mechanical Corp. Project 18" class="img-responsive" />
                <div class="figcaption">
                    <div class="caption-block">
                        <h5>Rooftop Heat</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="grids col-xs-12 col-sm-6 col-md-3 mix all commercial">
            <div class="grid scroll">
                <img src="~/img/projects/project-19.jpg" alt="Midtown Mechanical Corp. Project 19" class="img-responsive" />
                <div class="figcaption">
                    <div class="caption-block">
                        <h5>Commercial Project 5-4</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="grids col-xs-12 col-sm-6 col-md-3 mix all commercial">
            <div class="grid scroll">
                <img src="~/img/projects/project-21.jpg" alt="Midtown Mechanical Corp. Project 21" class="img-responsive" />
                <div class="figcaption">
                    <div class="caption-block">
                        <h5>Commercial Project 5-5</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="grids col-xs-12 col-sm-6 col-md-3 mix all commercial">
            <div class="grid scroll">
                <img src="~/img/projects/project-20.jpg" alt="Midtown Mechanical Corp. Project 20" class="img-responsive" />
                <div class="figcaption">
                    <div class="caption-block">
                        <h5>Commercial Project 5 complete</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="grids col-xs-12 col-sm-6 col-md-3 mix all custom">
            <div class="grid scroll">
                <img src="~/img/projects/project-22.jpg" alt="Midtown Mechanical Corp. Project 22" class="img-responsive" />
                <div class="figcaption">
                    <div class="caption-block">
                        <h5>Custom</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="grids col-xs-12 col-sm-6 col-md-3 mix all custom">
            <div class="grid scroll">
                <img src="~/img/projects/project-23.jpg" alt="Midtown Mechanical Corp. Project 23" class="img-responsive" />
                <div class="figcaption">
                    <div class="caption-block">
                        <h5>Custom Rooftop</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="grids col-xs-12 col-sm-6 col-md-3 mix all custom">
            <div class="grid scroll">
                <img src="~/img/projects/project-24.jpg" alt="Midtown Mechanical Corp. Project 24" class="img-responsive" />
                <div class="figcaption">
                    <div class="caption-block">
                        <h5>Custom Heat</h5>
                    </div>
                </div>
            </div>
        </div>
        
     </div>
 </section>        
<section id="tabs" class="page-section">
            <div class="container" id="cooling">
                <h1>Air Conditioning</h1>
                <div class="row">
                    <div class="col-md-12">
                        <div role="tabpanel" class="right-tabs">
                            <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation" class="active">
                                    <a href="#cool-spring-tips" aria-controls="cool-home" role="tab" data-toggle="tab">
                                        <h5>Cooling</h5>
                                    </a>
                                </li>
                                <li role="presentation">
                                    <a href="#cooling-repair" aria-controls="cool-repair" role="tab" data-toggle="tab">
                                        <h5>Repair</h5>
                                    </a>
                                </li>
                                <li role="presentation">
                                    <a href="#cooling-maintenance" aria-controls="cool-maintenance" role="tab" data-toggle="tab">
                                        <h5>Maintenance</h5>
                                    </a>
                                </li>
                                <li role="presentation">
                                    <a href="#cooling-sales" aria-controls="cool-sales" role="tab" data-toggle="tab">
                                        <h5>New Installation</h5>
                                    </a>
                                </li>
                            </ul>
                            <hr />

                            <div class="tab-content lr-pad-40">
                                <!-- cooling-home -->
                                <div role="tabpanel" class="tab-pane  active" id="cool-spring-tips">
                                    <h2 class="green">Stay Cool in Summer! No sweat!</h2>
                                    <h5>Cooling</h5>
                                    <p>
                                        Chicago’s summer months can be <span class="red"><b>HOT</b></span>! Most residents have their air conditioners running on a continual basis whether they are at home
                                        or in the office, in order to enjoy a comfortable living and working environment.</p>
                                    <p>
                                        Use this SAVINGS CALCULATOR TO see if your air conditioner is the most efficient and effective product for your living space.
                                        <a href="Savecalc.aspx" target="_blank"><img src="http://virtualhvac.com/img/badges/carrier_badge.jpg" alt="savings calculator" class="left-box" /></a>
                                    </p> 
                                    <br /><br /><hr />
                                    <h3 class="green">Spring Maintenance Tips for your Air Conditioner</h3>

                                    <img src="~/img/thinkSpring.jpg" alt="think spring" class="left-box boxshadow" />
                                    <ul>
                                        <li><img src="~/img/rightarrow.png" /> Always shut off power to your central A/C before beginning any air conditioner maintenance.</li>
                                        <li><img src="~/img/rightarrow.png" /> If you used an air conditioner cover to protect your unit during the Winter, make sure to remove it before turning the unit back on!</li>
                                        <li><img src="~/img/rightarrow.png" /> Check your refrigerant levels by feeling the pipe connected to your A/C unit. If it doesn't feel cool-ish (around 60 degrees), you may be low on refrigerant.</li>
                                        <li><img src="~/img/rightarrow.png" /> Don't forget to replace dirty A/C filters! They put more strain on your A/C unit than clean filters and increase your energy consumption.</li>
                                        <li><img src="~/img/rightarrow.png" /> Clean your air conditioner's ceiling registers. While this task doesn't affect your A/C unit directly, it does help ensure all its hard work doesn't go to waste.</li>
                                        <li><img src="~/img/rightarrow.png" /> Have a professional clean your evaporator coil every couple years to prevent debris build-up. Other than routine air conditioner cleaning, a professional A/C contractor should be involved with all major A/C maintenance work to prevent damage or problems during repairs.</li>
                                        <li><img src="~/img/rightarrow.png" /> Keep the area around your outdoor A/C unit free of grass, furniture, and debris that could interfere with its performance. If any grass or weeds have grown inside or around the unit, be sure to completely remove them.</li>
                                        <li><img src="~/img/rightarrow.png" /> If the concrete slab on which your outdoor A/C unit sits isn't level (use a carpenter's level to find out), add rocks, gravel, or dirt underneath to level it out to ensure your A/C runs as efficiently as possible</li>
                                    </ul>
                                </div>

                                <!-- cooling-repair -->
                                <div role="tabpanel" class="tab-pane" id="cooling-repair">
                                    <h2 class="green">Just make it work!</h2>
                                    <h5>A/C Repair and Replace</h5>
                                    <h3 class="red">It's Chicago weather!</h3>
                                    <p> Where it can be cool one day and then hot and humid the next day. Controlling the &quot;TOTAL INDOOR AIR COMFORT&quot; of Chicago's extreme weather changes for it's residents and business owners, is the Midtown Mechanical Corporation mission. </p>
                                    <hr /><h3>Expert Service Technicians</h3>
                                    <img class="shadow right-box" src="~/img/visit.jpg" alt="Expert Technician Visit" width="314" height="207" />
                                    <p>
                                        MMC has an experienced, expert, trained service team that can repair your air conditioner or heat pump quickly and restore comfort to your home or small business in the Chicagoland and suburban area.
                                    </p>
                                    <p>
                                        Rely on us to respond promptly to your needs, no matter when an air conditioning problem occurs.
                                        Our expert AC technicians will arrive on time, and when it is convenient for you. We will quickly diagnose your AC problem and prepare an estimate for the needed repairs. After discussing the estimate with you, answering all your questions, and getting your approval, we'll make the AC repairs quickly and efficiently. Our customers' confidence in us is justified by our long experience in this field and our outstanding service record.
                                    </p>
                                    <p>Even if MMC did not install your air conditioning equipment, we ill be able to service your equipment. We know and repair all major brands, have most needed parts on hand, and always have the right test equipment and tools to diagnose and repair your system as quickly as possible.</p>
                                    <hr />
                                    <h3 class="red">DID YOU KNOW? Some things, you can DO YOURSELF!</h3>
                                    <p>
                                        <strong>Don't delay</strong> when you need air conditioner or heater repair.
                                        If you smell gas, send everyone out of your home and call your gas provider’s emergency telephone number immediately. If your air conditioner won’t cool, makes odd noises or freezes up, turn your thermostat to “off” and call your service company without delay. Running your A/C system when it isn’t working properly can turn a small repair into a much larger one.
                                    </p>
                                    <h3 class="red">Change your air filters</h3>
                                    <p>For your health, comfort and financial well-being, change or clean your air conditioning filters regularly per the manufacturers specifications. Depending on your equipment, the type of air filters you use, and the quality of the air being filtered, air filters need to be changed (or cleaned) somewhere between twice a month to once per year. On the disposable air filters, changing them once per month when you pay your utility bill is a good way to remember. Never run your heating and air conditioning system without the correct air filter in place.</p>

                                    <h3 class="red">Check your air ducts</h3>
                                    <p>Have your air ducts checked periodically for leaks. Leaking ducts cause more than 20% of the losses of heating and cooling, according to the U.S. Department of Energy. Air duct checking and leak detection is part of the MMC  maintenance program.  If air ducts are located in a hot or cold space such as an attic, have the outside of the ducts insulated to reduce heat loss. Having leaky ducts saves wear and tear on both your heating and cooling equipment and lowers your monthly bills.</p>
                                </div>

                                <!-----cooling maintenance-->
                                <div role="tabpanel" class="tab-pane" id="cooling-maintenance">
                                    <h3 class="green">Start in Spring! Enjoy your Summer. Indoor and out!</h3>
                                    <h5>Maintenance</h5>
                                    <p>
                                        <img src="~/img/mmc-spring-2016.jpg" alt="spring and Summer airconditioner tuneup" width="300" class="right-box" />
                                        Contact Midtown Mechanical to Request an Appointment to come to your residence or work location and run a thorough maintenance check on your A/C equipment. Call us at 773.722.8145 or request an appointment using our online
                                    </p><span class="h6"> <a href="~/#contact">Contact Form.</a></span>
                                    <img src="~/img/rightarrow.png" />
                                    <p>
                                        Midtown Mechanical will service all of your air conditioning needs whether installing a new system, maintaining
                                        your current system or repairing most major brands of your existing air conditioner. We can provide you with a quality
                                        and durable air conditioning unit that will give you the cooling relief that you need from the vicious Chicago heat.
                                    </p>

                                </div>

                                <!-- cooling-sales -->
                                <div role="tabpanel" class="tab-pane" id="cooling-sales">
                                    <h4 class="green">Enjoy Summer. Indoor and out. Get right-sized!</h4>
                                    <h5>Sales</h5>
                                    <h2>Carrier Air Conditioners</h2>
                                    <img src="~/img/carrier.gif" alt="Carrier Heating" />
                                    <img src="~/img/carriercomfort.jpg" />
                                    <p>Carrier Comfort™ 13 Air Conditioner with Puron®   Refrigerant, Model 24ACB3, is available in 1.5-5 ton single phase   nominal-sized units, as well as three phase in 2.5-5 ton 208/230v and   3-5 ton 460v.<strong><br /></strong></p>
                                    <hr />
                                    <h3>24ACB3 Comfort™ 13</h3>
                                    <p>Air Conditioner with Puron® Refrigerant</p>
                                    <p>1.5 to 5 tons cooling</p>
                                    <h2>Standard Features</h2>
                                    <p>Energy Efficiency</p>
                                    <ul>
                                        <li> 13-15 SEER / 11-12 EER </li>
                                    </ul>
                                    <p>New Aesthetic Design</p>
                                    <ul>
                                        <li>WeatherArmor™ System </li>
                                        <li>Baked-on powder paint </li>
                                        <li>Steel-louver Coil Guard </li>
                                    </ul>
                                    <p>Quiet Operation</p>
                                    <ul>
                                        <li>Sound as low as 74 dBA </li>
                                        <li>Compressor Sound Blanket </li>
                                        <li>8-Pole Condenser Fan Motor </li>
                                    </ul>
                                    <p>Reliability, Quality and Durability</p>
                                    <ul>
                                        <li>Scroll Compressor </li>
                                        <li>Field-installed 8 cu. in. Filter Drier </li>
                                        <li>Front-seating Service Valves </li>
                                        <li>High-Pressure Switch </li>
                                        <li>Low-Pressure Switch </li>
                                        <li>Internal Pressure-Relief Valve </li>
                                        <li>Internal thermal overload </li>
                                    </ul>
                                    <hr />
                                    <h3>24ABB3 Base 13</h3><br />
                                    <p>Air Conditioner with Puron® Refrigerant</p>
                                    <p>1.5 to 5 Nominal tons</p>
                                    <p>Carrier Base 13 Air Conditioner with Puron Refrigerant, Model 24ABB3, is available in 1.5-5 ton nominal-sized units. </p>
                                    <h2>Standard Features</h2>
                                    <p><strong>Energy Efficiency </strong> </p>
                                    <ul>
                                        <li>13 SEER / 11 EER </li>
                                    </ul>
                                    <p>Sound</p>
                                    <ul>
                                        <li>Sound as low as 74 dBA with accessory sound blanket </li>
                                    </ul>
                                    <p>Reliability, Quality and Durability</p>
                                    <ul>
                                        <li>Scroll Compressor </li>
                                        <li>Field-installed Filter Drier </li>
                                        <li>Front-seating Service Valves </li>
                                        <li>Internal Pressure-Relief Valve </li>
                                        <li>Internal thermal overload </li>
                                        <li>Baked-on powder paint </li>
                                        <li>Dense wire coil guard—Standard </li>
                                    </ul><br />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <hr />
<section id="contact" class="page-section bg-blue white">
    <div class="container">
        <div class="row">
            <div class="section-title">
                <h2 class="title">Contract Free Maintenance</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4 bottom-xs-pad-20">
                
                <h6>
                    Tom Walker, owner<br />
                    <a href="tel:7737228145">
                        <i class="fa fa-phone"></i> 773-722-8145
                    </a><br />
                    <i class="fa fa-fax"></i> 773.722.8146<br />
                    <a href="mailto:mmc4533@gmail.com">
                        <i class="fa fa-envelope"></i> mmc4533@gmail.com
                    </a>
                </h6>
                <div class="tb-pad-20">
                    <img src="~/img/4533lex2.jpg" alt="MMC office facing Congress Expressway" />
                    <h6 class="caption">
                        Midtown Mechanical Corporation
                        <br />4533 West Lexington
                        <br />Chicago, Illinois 60624
                    </h6> 
                </div>  
               
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 bottom-xs-pad-20">
               <p>Midtown Mechanical is a full-service mechanical contractor specializing in heating, ventilation, air conditioning, industrial piping and service. We service commercial, industrial, and residential   new development and service maintenance for both residential and   commercial buildings. Our goal is to develop and sustain long-term   customer relationships with our experienced and knowledgeable employees,   using safe work practices and the most up-to-date technologies.
                            </p>
                </div>
            <div class="col-xs-12 col-sm-6 col-md-4 bottom-xs-pad-20">
                <p class="title-description">
                    MMC will email a Spring and Fall HVAC Maintenance reminder, upon receiving your submitted form.
                    <br />Thank you for contacting us.
                </p> 
                <form id="form" action="#" method="post" name="contact_form" role="form" class="form-box">
                    <img src="~/img/mmchome.jpg" alt="MMC Service Program" class="shadow" width="306" height="120" />
                    <div class="input-text form-group">
                        <label>name</label>
                        <input class="form-control bg-white" type="text" value="" name="name" />
                        <label>email</label>
                        <input class="form-control bg-white" type="email" value="" name="email" />
                        <label>phone</label>
                        <input class="form-control bg-white" type="tel" value="" name="phone" />
                        <label>message</label>
                        <input class="form-control bg-white" type="text" value="" name="comments" />
                        <button class="submit btn btn-default bg-color white" type="submit">
                            send message
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
