@{
    ViewBag.Title = "Midtown Mechanical Corporation";
}

<section class="slider">
    <div class="tp-banner">
        <ul>
            <li data-delay="9000" data-transition="fade" data-slotamount="7" data-masterspeed="2000">
                <div class="elements">
                    <div class="tp-caption lft skewtotop title white" data-x="375" data-y="51" data-speed="1000" data-start="1700" data-easing="Power4.easeOut" data-endspeed="500" data-endeasing="Power1.easeIn">
                        <img src="~/img/MMCheating.png" width="780" height="60" alt="MMC - Heating, Air Conditioning & Air Comfort Specialists" />
                    </div>
                    <div class="tp-caption lft skewtotop title" data-x="472" data-y="411" data-speed="1000" data-start="1900" data-easing="Power4.easeOut" data-endspeed="500" data-endeasing="Power1.easeIn">
                        <img src="~/img/total-team.png" width="780" height="60" alt="MMC - Your Total Indoor Comfort Team" />
                    </div>
                    <div class="tp-caption lfb" data-x="70" data-y="220" data-speed="1000" data-start="2540" data-easing="Power4.easeOut" data-endspeed="500" data-endeasing="Power1.easeIn" style="z-index: 4">
                        <img src="~/img/servicevisit.jpg" width="400" height="400" alt="Spring Air Conditioning Maintenance" />
                    </div>
                    <div class="tp-caption lft" data-x="70" data-y="220" data-speed="1000" data-start="6800" data-easing="Power4.easeOut" data-endspeed="500" data-endeasing="Power1.easeIn" data-end="3800" style="z-index: 4">
                        <img src="~/img/4533Lex2.jpg" width="400" height="400" alt="Spring Air Conditioning Maintenance" />
                    </div>
                    <div class="tp-caption lfr" data-x="70" data-y="220" data-speed="1000" data-start="9000" data-easing="Power4.easeOut" data-endspeed="500" data-endeasing="Power1.easeIn" data-end="3800" style="z-index: 4">
                        <img src="~/img/greentruck.jpg" width="400" height="400" alt="Spring Air Conditioning Maintenance" />
                    </div>
                    <div class="tp-caption lfb" data-x="70" data-y="220" data-speed="1000" data-start="12000" data-easing="Power4.easeOut" data-endspeed="500" data-endeasing="Power1.easeIn" data-end="3800" style="z-index: 4">
                        <img src="~/img/mmctruck.jpg" width="400" height="400" alt="Spring Air Conditioning Maintenance" />
                    </div>
                    <div>
                        <a href="~/#contact" class="tp-caption lfb btn btn-info" data-x="90" data-y="540" data-speed="1000" data-start="2840" data-easing="Power4.easeOut" data-endspeed="500" data-endeasing="Power1.easeIn"><h6 class="white">Contact us to Schedule Service</h6></a>
                    </div>
                </div>
                <img src="~/img/water-chgo.jpg" alt="Chicago Waterfront" data-bgfit="cover" data-bgposition="center top" data-bgrepeat="no-repeat" />
            </li>
        </ul>
        <div class="tp-bannertimer"></div>
        <div class="bottom-arrow"></div>
    </div>
</section>

<section id="about-us" class="page-section">
    <div class="container">
        <div class="section-title">
            <h1 class="title">Midtown Mechanical Corporation</h1>
        </div>
        <div class="row">
            <div class="col-md-4" data-animation="fadeInLeft">
                <ul class="features-list features-list-left">
                    <li class="features-list-item">
                        <div class="features-content">
                            <h4 class="text-center red">HVAC Contractor</h4>
                            <p>
                                Midtown Mechanical Corporation (MMC) is a Chicagoland based, full-service mechanical contractor specializing in residential, industrial and commercial HVAC, energy-efficient air conditioners, furnaces, climate control humidifiers, learning thermostat installation, boilers, custom sheet metal work and ductwork for Chicago and the surrounding areas.
                            </p>
                            <h4 class="text-center red">Responsible</h4>
                            <p>
                                Tom Walker, owner of Midtown Mechanical Corporation and his loyal team have been responsively servicing our customer's "Total Indoor Air Comfort" &mdash; since 1994.
                            </p>

                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-md-4 text-center" data-animation="fadeInUp">
                <img src="~/img/furnace.jpg" width="350" height="540" alt="furnace installation by MMC Midtown Mechanical Corp." />
            </div>
            <div class="col-md-4" data-animation="fadeInRight">
                <ul class="features-list features-list-right">
                    <li class="features-list-item">
                        <div class="features-content">

                            <h4 class="text-center red">Relationships</h4>
                            <p>We believe our success has been built upon on a foundation of a trusting relationship. MMC selects reliable heating and air conditioning equipment which, in our experience, is best fitted for each unique customer.  Our mechanical craftsmen &mdash; repair, replace, and install equipment with little interruption or inconvience to each customer. Our customers have referred their friends to us, and that relationship has helped to grow our business into the responsive HVAC company that has kept &quot;Indoor Air&quot; comfortable for Chicagoans.</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section id="products" class="page-section">
    <div class="container">
        <div class="row special-feature">
            <div class="section-title" data-animation="fadeInUp">
                <h2 class="title blue">Products</h2>
            </div>
            <!-- heating -->
            <a href="~/#heating">
                <div class="col-md-3">
                    <div class="s-feature-box text-center">
                        <div class="mask-top">
                            <h4>HEATING</h4>
                            <img src="~/img/luxaireGasFurnace.jpg" />
                        </div>
                        <div class="mask-bottom">
                            <h4 class="white">HEATING</h4>
                            <p class="white">
                                Carrier Heaters.<br />
                                Luxaire Gas Furnace. <br />
                                York Heat Pumps.<br />
                                Payne Multispeed Gas Frnace.
                            </p>
                        </div>
                    </div>
                </div>
            </a>
            <!-- cooling -->
            <a href="~/#cooling">
                <div class="col-md-3">
                    <div class="s-feature-box text-center">
                        <div class="mask-top">
                            <h4>COOLING</h4>
                            <img src="~/img/carrierInfinity21.jpg" />
                        </div>
                        <div class="mask-bottom">
                            <h4 class="white">COOLING</h4>
                            <p class="white">
                                Carrier Home Comfort Systems.<br />
                                York duct-Free Mini split Systems.<br />
                                Carrier Commercial HVAC Solutions.<br />
                                Luxaire Split Systems.<br />
                                Payne Central Air Conditioner.
                            </p>
                        </div>
                    </div>
                </div>
            </a>
            <!-- air comfort-->
            <div class="col-md-3">
                <div class="s-feature-box text-center">
                    <div class="mask-top">
                        <h4>AIR COMFORT</h4>
                        <img src="~/img/AprilaireWiThermo.jpg" />
                    </div>
                    <div class="mask-bottom">
                        <h4 class="white">AIR COMFORT</h4>
                        <p class="white">
                            Aprilaire Wifi Thermostats.<br />
                            Aprilaire Humidifiers. <br />
                            Aprilaire Thermostat Controllers.<br />
                            Aprilaire Whole Home Dehumidifiers
                        </p>
                    </div>
                </div>
            </div>
            <!-- Services -->
            <div class="col-md-3">
                <div class="s-feature-box text-center">
                    <div class="mask-top">
                        <h4>SERVICE</h4>
                        <img src="~/img/hvac3.jpg" />
                    </div>
                    <div class="mask-bottom">
                        <h4 class="white">SERVICE</h4>
                        <p class="white">
                            Contract Free Preventative Maintenance.<br />
                            Prompt Response to your call.<br />
                            Committed to your Schedule.<br />
                            Expert on all major equipment.<br />
                            Rooptop commercial equipment.<br />
                            Service Maintenance Reminders.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="service" class="page-section">
    <div class="container">
        <div class="row">
            <div class="col-md-4 text-center bottom-xs-pad-30 top-margin-50" data-animation="pulse">
                <img class="shadow" src="~/img/visit.jpg" alt="Expert Technician Visit" width="314" height="207" />
            </div>
            <div class="col-md-8" data-animation="fadeInRight">
                <div class="section-title text-left" data-animation="fadeInUp">
                    <h2 class="title blue">Expert Service Technicians</h2>
                </div>
                <h6 class="title-description text-color">
                    MMC has an experienced, expert, trained service team that can repair your air conditioner or heat pump quickly and restore comfort to your home or small business in the Chicagoland area.
                 </h6>
                <div class="row responsive-features">
                    <div class="col-sm-6" data-animation="fadeInRight">
                        <h4 class="title blue">Timing is Everything</h4>
                        <p class="blue">Rely on us to respond promptly to your needs, no matter when an air conditioning problem occurs.
                          </p>
                        <p>Our expert AC technicians will arrive on time, and when it is convenient for you. We will quickly diagnose your AC problem and prepare an estimate for the needed repairs. After discussing the estimate with you, answering all your questions, and getting your approval, we'll make the AC repairs quickly and efficiently. Our customers' confidence in us is justified by our long experience in this field and our outstanding service record.
                         </p>
                    </div>
                    <div class="col-sm-6" data-animation="fadeInUp">
                        <h4 class="title blue">Money Saving Efficiency</h4>
                        <p>To anticipate the specialized needs of our diverse customer-base and to build an awareness towards "money saving" efficiency, we have expanded and integrated our core compentencies to include custom sheet metal and ductwork that is environmentally clean and up to the code of future years.
                        </p>
                    </div>                            
                    <div class="col-sm-6" data-animation="fadeInUp">
                        <h4 class="title blue">Service All Major Brands</h4>
                        <p>Even if MMC did not install your air conditioning equipment, we ill be able to service your equipment. We know and repair all major brands, have most needed parts on hand, and always have the right test equipment and tools to diagnose and repair your system as quickly as possible.</p>
                    </div>
                    <div class="col-sm-6" data-animation="fadeInLeft">
                        <h4 class="title blue">Manufacturers Support</h4>
                        <p>Our years of loyalty with our manufacturers, benefits our clients when we need urgent and accurate support.</p>
                    </div>
                    <div class="clearfix"></div>
                </div>                
            </div>
        </div>
        </div>
    </section>
        <section id="projects" class="page-section">
            <div class="image-bg content-in fixed" data-background="../img/water-chgo.jpg">
                <div class="overlay"></div>
            </div>
            <div class="container work-section">
                <div class="section-title white" data-animation="fadeInUp">
                    <h2 class="title">Our Projects</h2>
                </div>
                <p>
                    Tom Walker, owner of Midtown Mechanical, has been in business since 1994, and has over 20 years of experience building a reputation of expedientancy, trustworthiness, and competence in the HVAC industry in Chicago. MMC  has an extensive   portfolio of work ranging from renovation to new construction for   building owners and general contractors to individual home owners and   emergency HVAC service.
                </p>
                <div id="options" class="filter-menu" data-animation="fadeInUp">
                    <ul class="option-set nav nav-pills">
                        <li class="filter active" data-filter="all">All Projects</li>
                        <li class="filter" data-filter=".commercial">Commercial</li>
                        <li class="filter" data-filter=".resident">Residential</li>
                        <li class="filter" data-filter=".custom">Custom</li>
                    </ul>
                </div>
            </div>
            <div id="mix-container" class="portfolio-grid" data-animation="fadeInUp">
                <div class="grids col-xs-12 col-sm-6 col-md-3 mix all resident">
                    <div class="grid scroll">
                        <img src="~/img/projects/project-05.jpg" alt="Midtown Mechanical Corp. Project 5" class="img-responsive" />
                       
                    </div>
                </div>
                <div class="grids col-xs-12 col-sm-6 col-md-3 mix all commercial">
                    <div class="grid scroll">
                        <img src="~/img/projects/project-02.jpg" alt="Midtown Mechanical Corp. Project 2" class="img-responsive" />
                        
                    </div>
                </div>
                <div class="grids col-xs-12 col-sm-6 col-md-3 mix all resident">
                    <div class="grid scroll">
                        <img src="~/img/projects/project-03.jpg" alt="Midtown Mechanical Corp. Project 3" class="img-responsive" />
                       
                    </div>
                </div>
                <div class="grids col-xs-12 col-sm-6 col-md-3 mix all custom">
                    <div class="grid scroll">
                        <img src="~/img/projects/project-04.jpg" alt="Midtown Mechanical Corp. Project 4" class="img-responsive" />
                       
                    </div>
                </div>

                <div class="grids col-xs-12 col-sm-6 col-md-3 mix all commercial">
                    <div class="grid scroll">
                        <img src="~/img/projects/project-06.jpg" alt="Midtown Mechanical Corp. Project 6" class="img-responsive" />
                       
                    </div>
                </div>
                <div class="grids col-xs-12 col-sm-6 col-md-3 mix all resident custom">
                    <div class="grid scroll">
                        <img src="~/img/projects/project-07.jpg" alt="Midtown Mechanical Corp. Project 7" class="img-responsive" />
                       
                    </div>
                </div>
                <div class="grids col-xs-12 col-sm-6 col-md-3 mix all resident custom">
                    <div class="grid scroll">
                        <img src="~/img/projects/project-08.jpg" alt="Midtown Mechanical Corp. Project 8" class="img-responsive" />
                        
                    </div>
                </div>
                <div class="grids col-xs-12 col-sm-6 col-md-3 mix all commercial custom">
                    <div class="grid scroll">
                        <img src="~/img/projects/project-09.jpg" alt="Midtown Mechanical Corp. Project 9" class="img-responsive" />
                       
                    </div>
                </div>
                <div class="grids col-xs-12 col-sm-6 col-md-3 mix all commercial custom">
                    <div class="grid scroll">
                        <img src="~/img/projects/project-01.jpg" alt="Midtown Mechanical Corp. Project 1" class="img-responsive" />
                       
                    </div>
                </div>
                <div class="grids col-xs-12 col-sm-6 col-md-3 mix all commercial custom">
                    <div class="grid scroll">
                        <img src="~/img/projects/project-10.jpg" alt="Midtown Mechanical Corp. Project 10" class="img-responsive" />
                        
                    </div>
                </div>
                <div class="grids col-xs-12 col-sm-6 col-md-3 mix all air">
                    <div class="grid scroll">
                        <img src="~/img/projects/project-12.jpg" alt="Midtown Mechanical Corp. Project 12" class="img-responsive" />
                       
                    </div>
                </div>
                <div class="grids col-xs-12 col-sm-6 col-md-3 mix all custom">
                    <div class="grid scroll">
                        <img src="~/img/projects/project-13.jpg" alt="Midtown Mechanical Corp. Project 13" class="img-responsive" />
                        
                    </div>
                </div>
                <div class="grids col-xs-12 col-sm-6 col-md-3 mix all heat">
                    <div class="grid scroll">
                        <img src="~/img/projects/project-14.jpg" alt="Midtown Mechanical Corp. Project 14" class="img-responsive" />
                        
                    </div>
                </div>
                <div class="grids col-xs-12 col-sm-6 col-md-3 mix all commercial">
                    <div class="grid scroll">
                        <img src="~/img/projects/project-15.jpg" alt="Midtown Mechanical Corp. Project 15" class="img-responsive" />
                       
                    </div>
                </div>
                <div class="grids col-xs-12 col-sm-6 col-md-3 mix all commercial">
                    <div class="grid scroll">
                        <img src="~/img/projects/project-16.jpg" alt="Midtown Mechanical Corp. Project 16" class="img-responsive" />
                        
                    </div>
                </div>
                <div class="grids col-xs-12 col-sm-6 col-md-3 mix all commercial">
                    <div class="grid scroll">
                        <img src="~/img/projects/project-17.jpg" alt="Midtown Mechanical Corp. Project 17" class="img-responsive" />
                       
                    </div>
                </div>
                <div class="grids col-xs-12 col-sm-6 col-md-3 mix all commercial">
                    <div class="grid scroll">
                        <img src="~/img/projects/project-18.jpg" alt="Midtown Mechanical Corp. Project 18" class="img-responsive" />
                       
                    </div>
                </div>
                <div class="grids col-xs-12 col-sm-6 col-md-3 mix all commercial">
                    <div class="grid scroll">
                        <img src="~/img/projects/project-19.jpg" alt="Midtown Mechanical Corp. Project 19" class="img-responsive" />
                       
                    </div>
                </div>
                <div class="grids col-xs-12 col-sm-6 col-md-3 mix all commercial custom">
                    <div class="grid scroll">
                        <img src="~/img/projects/project-21.jpg" alt="Midtown Mechanical Corp. Project 21" class="img-responsive" />
                        
                    </div>
                </div>
                <div class="grids col-xs-12 col-sm-6 col-md-3 mix all commercial custom">
                    <div class="grid scroll">
                        <img src="~/img/projects/project-20.jpg" alt="Midtown Mechanical Corp. Project 20" class="img-responsive" />
                       
                    </div>
                </div>
                <div class="grids col-xs-12 col-sm-6 col-md-3 mix all custom">
                    <div class="grid scroll">
                        <img src="~/img/projects/project-22.jpg" alt="Midtown Mechanical Corp. Project 22" class="img-responsive" />
                        
                    </div>
                </div>
                <div class="grids col-xs-12 col-sm-6 col-md-3 mix all custom">
                    <div class="grid scroll">
                        <img src="~/img/projects/project-23.jpg" alt="Midtown Mechanical Corp. Project 23" class="img-responsive" />
                        
                    </div>
                </div>
                <div class="grids col-xs-12 col-sm-6 col-md-3 mix all custom">
                    <div class="grid scroll">
                        <img src="~/img/projects/project-24.jpg" alt="Midtown Mechanical Corp. Project 24" class="img-responsive" />
                       
                    </div>
                </div>
            </div>
        </section>
        <section id="cooling" class="page-section">
            <div class="container">
                <h1 class="title red">COOLING</h1>
                <div class="row">
                    <div class="col-md-12">
                        <div role="tabpanel" class="right-tabs">
                            <ul class="nav nav-tabs" role="tablist">                              
                                <li role="presentation" class="active">
                                    <a href="#cooling-tips" aria-controls="cool-tips" role="tab" data-toggle="tab">
                                        <h5 class="title">A/C TIPS</h5>
                                    </a>
                                </li>
                                <li role="presentation">
                                    <a href="#cooling-repair" aria-controls="cool-repair" role="tab" data-toggle="tab">
                                        <h5 class="title">A/C REPAIR</h5>
                                    </a>
                                </li>
                                <li role="presentation">
                                    <a href="#cooling-maintenance" aria-controls="cool-maintenance" role="tab" data-toggle="tab">
                                        <h5 class="title">A/C MAINTENANCE</h5>
                                    </a>
                                </li>
                                <li role="presentation">
                                    <a href="#cooling-sales" aria-controls="cool-sales" role="tab" data-toggle="tab">
                                        <h5 class="title">NEW INSTALLATION</h5>
                                    </a>
                                </li>
                            </ul>
                            <hr />
                            <div class="tab-content lr-pad-40">                               
                                <!-- cooling-tips -->
                                <div role="tabpanel" class="tab-pane active" id="cooling-tips">
                                    <h3 class="title green">Staying Cool in Chicago's Summer? No sweat!</h3>
                                    <p> Chicago’s summer months can be <span class="red"><b>HOT</b></span>!
                                        Most residents have their air conditioners running on a continual basis whether they are at home
                                        or in the office, in order to enjoy a comfortable living and working environment.<img src="~/img/whip.jpg" alt="statue of children running in circle" class="right-box" />
                                    </p>
                                    <p> Is your air conditioner the most efficient and effective product for your living space?
                                    </p>
                                    <h4 class="title green">Spring Maintenance Tips for your Air Conditioner</h4>
                                    <img src="~/img/projects/project-26.jpg" alt="Carrier air conditioner" class="left-box boxshadow" />
                                    <ul>
                                        <li><img src="~/img/rightarrow.png" /> Shut off power to your central A/C before beginning any air conditioner maintenance.</li>
                                        <li><img src="~/img/rightarrow.png" /> Check your refrigerant levels by feeling the pipe connected to your A/C unit. If it doesn't feel cool-ish (around 60 degrees), you may be low on refrigerant.</li>
                                        <li><img src="~/img/rightarrow.png" /> Don't forget to replace dirty A/C filters! They put more strain on your A/C unit than clean filters and increase your energy consumption.</li>
                                        <li><img src="~/img/rightarrow.png" /> Clean your air conditioner's ceiling registers. While this task doesn't affect your A/C unit directly, it does help ensure all its hard work doesn't go to waste.</li>
                                        <li><img src="~/img/rightarrow.png" /> Keep the area around your outdoor A/C unit free of grass, weeds and debris that could interfere with its performance.</li>
                                        <li><img src="~/img/rightarrow.png" /> If the concrete slab on which your outdoor A/C unit sits isn't level (use a carpenter's level to find out), add rocks, gravel, or dirt underneath to level it out to ensure your A/C runs as efficiently as possible</li>
                                        <li><img src="~/img/rightarrow.png" /> Have MMC clean your evaporator coil every couple years to prevent debris build-up.</li>
                                    </ul>
                                </div>
                                <!-- cooling-repair -->
                                <div role="tabpanel" class="tab-pane" id="cooling-repair">
                                    <h4 class="title green">A/C Repair and Replace</h4>
                                    <h6>
                                        <strong>It's Chicago weather!</strong>
                                        Where it can be cool one day and then hot and humid the next day.
                                        <img src="~/img/zooTrees.jpg" alt="trees" class="right-box"/><br /> Controlling the &quot;TOTAL INDOOR AIR COMFORT&quot; of Chicago's extreme weather changes for it's residents and business owners, is the Midtown Mechanical Corporation mission. 
                                    </h6>  <hr />
                                    <h4 class="title red">DID YOU KNOW? Some things, you can DO YOURSELF!</h4>
                                    <p>
                                        <strong>Don't delay</strong> when you need air conditioner or heater repair.
                                        If you smell gas, send everyone out of your home and call your gas provider’s emergency telephone number immediately. If your air conditioner won’t cool, makes odd noises or freezes up, turn your thermostat to “off” and call MMC without delay. Running your A/C system when it isn’t working properly can turn a small repair into a much larger one.
                                    </p>
                                    <h4 class="title red">Change your air filters</h4>
                                    <img src="~/img/projects/project-12.jpg" alt="air conditioners" class="left-box"/>
                                    <p>For your health, comfort and financial well-being, change or clean your air conditioning filters regularly per the manufacturers specifications. Depending on your equipment, the type of air filters you use, and the quality of the air being filtered, air filters need to be changed (or cleaned) somewhere between twice a month to once per year. On the disposable air filters, changing them once per month when you pay your utility bill is a good way to remember. Never run your heating and air conditioning system without the correct air filter in place.</p>

                                    <h3 class="title red">Check your air ducts</h3>
                                    <p>Have your air ducts checked periodically for leaks. Leaking ducts cause more than 20% of the losses of heating and cooling, according to the U.S. Department of Energy. Air duct checking and leak detection is part of the MMC maintenance program.  If air ducts are located in a hot or cold space such as an attic, have the outside of the ducts insulated to reduce heat loss. Having leaky ducts saves wear and tear on both your heating and cooling equipment and lowers your monthly bills.</p>
                                </div>
                                <!-----cooling maintenance-->
                                <div role="tabpanel" class="tab-pane" id="cooling-maintenance">
                                    <h3 class="title green">Start in Spring! Enjoy your Summer. Indoor and out!</h3>
                                    <h4 class="title green">MAINTENANCE</h4>
                                    <p><img src="~/img/mmc-spring-2016.jpg" alt="spring and Summer airconditioner tuneup" width="300" class="right-box" />
                                        Contact Midtown Mechanical to Request an Appointment. Our expert technicians will come to your residence or work location and run a thorough maintenance check on your A/C equipment.</p>
                                    <p> Call us at<span class="bold-red-text"> 773.722.8145 </span> or request an appointment using our online
                                    </p>
                                    <h5 class="title blue"><a href="~/#contact">Contact Form</a><img src="~/img/rightarrow.png" /></h5>
                                    <p> Midtown Mechanical will service all of your air conditioning needs whether installing a new system, maintaining
                                        your current system or repairing most major brands of your existing air conditioner. We can provide you with a quality
                                        and durable air conditioning unit that will give you the cooling relief that you need from the vicious Chicago heat.
                                    </p>
                                </div>
                                <!-- cooling-sales -->
                                <div role="tabpanel" class="tab-pane" id="cooling-sales">
                                    <h4 class="green">Enjoy Summer. Indoor and out. Get right-sized!</h4>
                                    <h4 class="title green">New Air Conditioner Sales & Installation</h4>
                                    <p> Midtown Mechanical repairs, sells and installs all major brands of furnaces into all neighborhoods of Chicago.  Our years of experience, have lead us to focus on a range of cooling products, that work best for smaller to larger indoor areas, from lower to higher price ranges.  We are equiped to service the total Chicago population of residential and commercial customers.
                                    </p>
                                    <div class="left-nobox">
                                        <img src="~/img/luxaireSplitSystem.jpg" alt="Luxaire Split System" class="text-center right-nobox" />
                                        <h4>Luxaire Split System Air Conditioners </h4>
                                    </div>
                                    <div class="right-nobox">
                                        <img src="~/img/carrier.gif" alt="Carrier Logo" />
                                        <img src="~/img/carrierInfinity21.jpg" alt="Carrier Air Conditioners" />
                                        <h4>Carrier Air Conditioners</h4>
                                    </div> 
                                    <div class="left-nobox">
                                        <img src="~/img/yorkAC.jpg" alt="York Air Conditioners" />
                                        <h4>York Air Conditioners</h4>
                                    </div>
                                    <div class="right-nobox">
                                        <img src="~/img/AprilaireWiThermo.jpg" alt="Aprilaire WiFi Thermostats"/>
                                        <h4>Aprilaire WiFi Thermostats</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="heating" class="page-section light-bg">
            <div class="container">
                <h1 class="title red">HEATING</h1>
                <div class="row">
                    <div class="col-md-12">
                        <div role="tabpanel" class="right-tabs">
                            <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation" class="active">
                                    <a href="#furnace-tips" aria-controls="heat-tips" role="tab" data-toggle="tab">
                                        <h4 class="title">Furnace Tips</h4>
                                    </a>
                                </li>
                                <li role="presentation">
                                    <a href="#furnace-repair" aria-controls="heat-repair" role="tab" data-toggle="tab">
                                        <h4 class="title">Furnace Repair</h4>
                                    </a>
                                </li>
                                <li role="presentation">
                                    <a href="#furnace-maintenance" aria-controls="heat-maintenance" role="tab" data-toggle="tab">
                                        <h4 class="title">Maintenance</h4>
                                    </a>
                                </li>
                                <li role="presentation">
                                    <a href="#heating-sales" aria-controls="heat-sales" role="tab" data-toggle="tab">
                                        <h4 class="title">New Installation</h4>
                                    </a>
                                </li>
                            </ul>
                            <hr />

                            <div class="tab-content lr-pad-40">
                                <!-- heating-sales -->
                                <div role="tabpanel" class="tab-pane active" id="furnace-tips">
                                    <h4>MMC - Your Professional Heating Contractor!</h4>
                                    <h5 class="title red">Furnace Tips</h5>
                                    <p>
                                        <img src="~/img/taylor.jpg" class="right-box" alt="Chicago winter 2011" width="280" />
                                        At the end of the day, Chicagoans simply want a reliable and trustworthy company to be responsible for keeping them warm in the cold weather months of this windy city.  Since 1994, the customers, who have been referred to Midtown Mechanical,
                                        are staying warm in their homes and work places. They depend on MMC.  It is the honest HVAC assessment of president
                                        and owner,Tom Walker and his experienced team, that our customers have come to know
                                        and trust. Those returning customers have helped MMC grow into the HVAC company that you can see while driving the Eisenhower Expressway, today.
                                    </p>
                                <h5 class="title">Questions to ask MMC about furnaces</h5><img src="~/img/furnace-repair.jpg" alt="open furnace" class="right-box" />
                                    <ul>
                                        <li><img src="~/img/rightarrow.png" /> Which is the best furnace on the market? </li>
                                       
                                        <li><img src="~/img/rightarrow.png" /> Is my furnace operating at peak performance? </li>
                                        <li><img src="~/img/rightarrow.png" /> Is my furnace energy efficient? </li>
                                        <li><img src="~/img/rightarrow.png" /> Could I save money on my utility bills with a new furnace?</li>
                                        <li><img src="~/img/rightarrow.png" /> How closely can I manage my home comfort with your line of furnaces? </li>
                                        <li><img src="~/img/rightarrow.png" /> Which furnaces have easy-to-clean filters? </li>
                                        <li><img src="~/img/rightarrow.png" /> Which of the heating manufacturers you represent have been around the longest? </li>
                                        <li><img src="~/img/rightarrow.png" /> How quickly can you typically respond in an emergency situation? </li>
                                        <li><img src="~/img/rightarrow.png" /> Do you have any special furnace service or maintenance plans? </li>
                                        <li><img src="~/img/rightarrow.png" /> What are your billing and payment methods and terms? </li>
                                        <li><img src="~/img/rightarrow.png" /> Do you have client references I could contact? </li>
                                    </ul>
                                 </div>
                                <!-- furnace-repair -->
                                <div role="tabpanel" class="tab-pane" id="furnace-repair">
                                   
                                    <h5 class="title red">Furnace Repair</h5>                                    
                                    <h3>
                                        Don't Wait Until You Need It...<br /> Repair your Furnace before Winter
                                        <img src="~/img/winter-windows.jpg" class="right-box" alt="Chicago winter 2015" width="250" />
                                    </h3>
                                    <p>Actually, Summer is the perfect time for furnace repair and maintenance, and   other heating repair issues. One reason for this is the availability of   furnace technicians. Another is that preventative maintenance is always   less stressful than furnace repair when it’s freezing outside.</p>
                                    <p>MMC  offers incentives and other specials for   heating repair services during the summer, which means that we can fit you   in and you won't be left in the cold.</p>
                                    <h3>What You Should Know About Furnace Repair</h3>
                                    
                                    <p>To familiarize yourself with your furnace you may want to review how a furnace works, and exercise some of the preventative maintenance yourself. Here are some things you can tackle: </p>
                                    <img src="~/img/heatHouse.jpg" width="370" alt="heat map in house" class="right-box" />
                                     <ul>
                                        <li><img src="~/img/rightarrow.png" /> Confirm that the furnace cycles through start-up to shut-down via your thermostat.</li>
                                        <li><img src="~/img/rightarrow.png" /> Check the supply (small grates in each room) and return air (large   grate, usually in a hallway) temperature to make sure your thermostat   is accurate.</li>
                                        <li><img src="~/img/rightarrow.png" /> Clean and level your thermostat. For older thermostats this   ensures proper function since many of them have liquid mercury switches.   And always, this is aesthetically more eye pleasing.</li>
                                        <li><img src="~/img/rightarrow.png" /> There is a safety switch on all furnace doors that “pops out” when the door is removed. Make sure this is unobstructed and clean</li>
                                        <li><img src="~/img/rightarrow.png" /> Look at all the visible wiring and electrical connections for burns or unraveling/loose wire nuts or tape. </li>
                                        <li><img src="~/img/rightarrow.png" /> Check the condition of your vent connection pipe and chimney for rust or gaps. Venting system parts can deteriorate over time.</li>
                                    </ul>
                                </div>
                                <!-----heating maintenance-->
                                <div role="tabpanel" class="tab-pane" id="furnace-maintenance">
                                    <h4 class="title red">Furnace Maintenance</h4>                                  
                                    <p>Furnace considerations. Operating at Peak Performance. Energy Efficient. Save on heating expense.</p>
                                        <img src="~/img/snowbank.jpg" alt="CHicago Snow" width="300" class="right-box" />
                                       <p> Contact Midtown Mechanical to Request an Appointment to come to your residence or work location and run a thorough maintenance check on your A/C equipment. Call us at<span class="bold-red-text"> 773.722.8145</span> or request an appointment using our online.
                                    </p>
                                    <h5 class="title blue"><a href="~/#contact">Contact Form</a><img src="~/img/rightarrow.png" /></h5>
                                    <p>
                                        Midtown Mechanical will service all of your air conditioning needs whether installing a new system, maintaining
                                        your current system or repairing most major brands of your existing air conditioner. We can provide you with a quality
                                        and durable air conditioning unit that will give you the cooling relief that you need from the vicious Chicago heat.
                                    </p>
                                </div>
                                <!-- heating-sales -->
                                <div role="tabpanel" class="tab-pane" id="heating-sales">
                                    <h4 class="title red">New Furnace Sales & Installation</h4>
                                    <p> Midtown Mechanical repairs, sells and installs all major brands of furnaces into all neighborhoods of Chicago.  Our years of experience, have lead us to focus on a range of furnace products, that work best for smaller to larger indoor areas, from lower to higher price ranges.  We are equiped to service the total Chicago population of residential and commercial customers.
                                    </p>
                                    <div class="left-nobox">
                                        <img src="~/img/carrierInfinityheatpump21.jpg" alt="Carrier Infinity heatpump21"/>
                                        <h4>Carrier Infinity heatpump21</h4>
                                    </div>
                                    <div class="right-nobox">                     
                                        <img src="~/img/luxaireGasFurnace.jpg" alt="Luxaire Gas Furnace"/>
                                         <h4>Luxaire Gas Furnaces</h4>
                                    </div>              
                                    <div class="right-nobox">
                                        <img src="~/img/AprilaireThermostat.jpg" alt="Aprilaire Thermostats" />
                                        <h4>Aprilaire WiFi Thermostats</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="contact" class="page-section bg-blue white">
            <div class="container">
                <div class="row">
                    <div class="section-title">
                        <h2 class="title">Midtown Mechanical Corporation</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6 col-sm-6 bottom-xs-pad-20">                      
                        <div class="row">
                            <div class="col-xs-6 col-sm-6">
                                <h6>  Tom Walker, owner<br />                                 
                                    Midtown Mechanical Corporation<br />
                                    4533 West Lexington <br />
                                    Chicago, Illinois 60624
                                <br />
                                    <a href="tel:7737228145">
                                        <i class="fa fa-phone"></i> 773-722-8145
                                    </a>
                                    <br /><i class="fa fa-fax"></i> 7737228146<br />
                                    <a class="lower" href="mailto:mmc4533@gmail.com">
                                        <i class="fa fa-envelope"></i> mmc4533@gmail.com
                                    </a>
                                </h6>
                            </div>
                            <div class="col-xs-6 col-sm-6 bottom-xs-pad-20">
                                <div class="margin-20 text-center">
                                    <img src="~/img/4533lex2.jpg" alt="MMC office facing Congress Expressway" width="300" />
                                </div>
                            </div>
                        </div>
                        <div class="border2-white">
                            <a href="~/Careers" target="_blank" class="bottom-xs-pad-30 top-pad-50 border-tb">
                                <div class="bg-dark text-center" data-animation="pulse">
                                    <h3 class="red">MMC Job Employment</h3>
                                    <h5>New Construction Sheet Metal<br /></h5>
                                    <h6>\Click to Apply/</h6>
                                    <img src="~/img/greentruck.jpg" />
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 bottom-xs-pad-20">
                        <h6> Our goal is to develop and sustain long-term customer relationships with our experienced and knowledgeable employees, using safe work practices and the most up-to-date technologies.                 
                        </h6>
                        <h6>We invite you to contact MMC for service, maintenance and new installations of HVAC equipment.
                        </h6>
                        <h6>
                            Receive a Spring and Fall HVAC Maintenance email reminder, upon submitting form.
                        </h6>
                        <div claass="img-responsive">
                            <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSf61wv6m2sLm8dQULgxNS4f60a6QCf6AEUwj2I1dej-TqVDyQ/viewform?embedded=true" width="100%" height="700" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
                        </div>
                    </div>
                </div>
            </div>
        </section>
